.header-container {
  
  background-image: url('../assets/ID-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: center;
  height: 45vh;
}
.header-container h1 {
  position: center;
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: lighter;
  vertical-align: middle;
  color: black;
}
.dubai-container {
  background-image: url('../assets/dubai2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.Dubai h1{
  position: center;
  font-size: 5vh;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  vertical-align: middle;
  color: black;
 font-weight: bold; 

}
#dubai {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.heading {
  color: #047076;
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 60px;
}
.container {
  width: 80%;
  height: 100vh;
  background-color: white;
  border-radius: 1vh;
  box-shadow: 2px 2px 12px #047076;
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  color: black;
  font-family: cursive;
}