.head-container {

    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: center;
    height:45vh;
}
.head-container h1 {
    position: center;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-weight:lighter;
    vertical-align: middle;
    color: black;
}
.dubai-container {
    background-image: url('../images/bg2.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 40vh;
}
.dubai h1 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 60px;
}
.maasai-container {
    background-image: url('../images/marascene2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
}
.maasai h1 {
    font-weight: bold;
    text-decoration-line:underline;
    font-size: 60px;
}
.paris-container {
    background-image: url('../images/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 40vh;
}
.paris h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
}
.zanz-container {
    background-image:url('../images/zanz3.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 40vh;
}
.zanz h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size:60px;
}
.mau-container{
    background-image:url('../images/mau1.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 40vh;
}
.mau h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
}
.heading {
    color: black;
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
}
.container {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: white;
    position: relative;
    color: black;
    font-family: cursive;
}
.dest-img img {
    margin-left:5px;
    margin-right:5px;
}
.first {
    display:flex;
    justify-content:center;
    align-items: center;
}
.second {
    display: flex;
    justify-content:center;
    align-items: center;
}
.images-container {
    margin: 10px;
    line-height:150px;
    padding:10px;
    margin-top: 30px;

}
.overlay {
    position: static;
    background:rgba(19,3,3,0.582);
    cursor:pointer;
    display:none;
    transition:all 0.5s ease;
    bottom:-150px;
}
.dest-img:hover img {
   transform: scale(1.2);
   transition: all 0.3s ease;
}
.text {
    color:white;
    background-color:rgba(0,0,0.301);
    padding: 50px 10px;
    font-size:30px;
    padding-top: 30px;
    line-height:90%;
    overflow:hidden;
    font-family: 'Times New Roman';
}
.site {
    display:flex;
    justify-content: center;
    align-items: center;
}
.site img {
    width:300px;
    height:300px;
}
table {
    font-family: arial, sans-serif;
    border-collapse:collapse;
    width:100%;
}
td,th {
    border:1px solid#DDDDDD;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
 background-color:#DDDDDD;
}
.provided h1 {
    font-weight:  bold;
    text-decoration-line: underline;
}
.btn{
    font-size: 30px;
}
.topnav {
    background-color: rgb(241, 234, 234);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0c26b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .products {
    padding: 4rem 0;
  }
  .section-title{
    height: 350px;
    background-image: url('local destinations/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 5rem;
    
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-top: 10px;
    
    
  }
  
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1970px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-top: 200px;
    align-content: center;
    margin-right: 150px;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  