.topnav {
    background-color: rgb(241, 234, 234);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0c26b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .header-container {
    
    background-image: url('../assets/ID-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: center;
    height: 45vh;
  }
  .header-container h1 {
    position: center;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    color: black;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .products {
    padding: 4rem 0;
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  
  .dubai-container {
    background-image: url('../assets/dubai2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .italy-container {
    background-image: url('../assets/italy2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .italy h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
  }
  
  .japan-container {
    background-image: url('../assets/japan2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .japan h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
  }
  .australia-container {
    background-image: url('../assets/australia2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .australia h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
  }
  .cuba-container {
    background-image: url('../assets/cuba2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .cuba h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
  }
  .greece-container {
    background-image: url('../assets/greece2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .greece h1 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
  }
  
  .heading {
    color: black;
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 60px;
  }
  .container {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: white;
    position: relative;
    color: black;
    font-family: cursive;
  }
  .dest-img img {
    
    margin-left: 5px;
    margin-right: 5px;
  }
  .set1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .set2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay {
    position: static;
    background: rgba(19, 3, 3, 0.582);
    cursor: pointer;
    display: none;
    transition: all 0.5s ease; 
    bottom: -150px;
  }
  .dest-img:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
   .text {
      color: white;
      background-color: rgba(0, 0, 0, 0.301);
      padding: 50px 10px;
      font-size: 30px;
      padding-top: 30px;
      line-height: 90%;
      overflow: hidden;
      font-family: 'Times New Roman';
  }
  .site {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site img {
    width: 300px;
    height: 300px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .provided h1 {
    font-weight: bold;
    text-decoration-line: underline;
  }
  .btn{
    font-size: 30px;
  }