* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title{
  height: 350px;
  background-image: url('local destinations/background4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 5rem;
  
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-top: 10px;
  
  
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* form */
.field-label {
margin-right:  px;
}
.form-body {
  align-content: center;
}
.form-body div{
  margin-top: 20px;
}
.form-body div input{margin-left: 50px;}
.smart-wrap{
  align-items: center;
  align-content: center;
  display: flex;
}
.container {
  align-content: center;
}
#contact {
  background-color: gray;
}
/* sub pages */
.header-container {
  background-image: url('../assets/ID-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: center;
  height: 45vh;
}
.header-container h1 {
  position: center;
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: lighter;
  vertical-align: middle;
  color: black;
}
.dubai-container {
  background-image: url('../assets/dubai2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.italy-container {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  text-align: center;
}
.italy h1 {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 60px;
}
.japan-container {
  background-image: url('../assets/japan2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.japan h1 {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 60px;
}
.australia-container {
  background-image: url('../assets/australia2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.australia h1 {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 60px;
}
.cuba-container {
  background-image: url('../assets/cuba2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.cuba h1 {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 60px;
}
.greece-container {
  background-image: url('../assets/greece2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.greece h1 {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 60px;
}
.heading {
  color: black;
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 60px;
}
.container {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  background-color: white;
  position: relative;
  color: black;
  font-family: cursive;
}
.dest-img img {
  margin-left: 5px;
  margin-right: 5px;
}
.set1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.set2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-container {
  margin: 10px;
  line-height: 150%;
  padding: 10px;
  margin-top: 30px;
}
.overlay {
  position: static;
  background: rgba(19, 3, 3, 0.582);
  cursor: pointer;
  display: none;
  transition: all 0.5s ease;
  bottom: -150px;
}
.dest-img:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
 .text {
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 50px 10px;
    font-size: 30px;
    padding-top: 30px;
    line-height: 90%;
    overflow: hidden;
    font-family: 'Times New Roman';
}
.site {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.site img {
  width: 300px;
  height: 300px;
  
  
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #DDDDDD;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #DDDDDD;
}
.provided h1 {
  font-weight: bold;
  text-decoration-line: underline;
}
.btn{
  font-size: 30px;
}

/* ////////////     form styles     //// */
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Cabin', sans-serif;
	background-color: #f7f9fa;
}

.booking-form {
	position: relative;
	max-width: 642px;
	width: 100%;
	margin: auto;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.booking-form>.booking-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 250px;
	background-image: url('local destinations/background.jpg');
	background-size: cover;
	background-position: center;
}

.booking-form>form {
	margin-left: 250px;
	padding: 30px;
	border: 1px solid #f9fafc;
	border-left: 0px;
}

.booking-form .form-header {
	margin-bottom: 30px;
}

.booking-form .form-header h2 {
	margin: 0;
	margin-bottom: 0px;
	font-weight: 700;
	color: #122244;
	font-size: 35px;
	text-transform: capitalize;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #f7f9fa;
	height: 40px;
	padding: 0px 10px;
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: #122244;
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dde3e8;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dde3e8;
}

.booking-form .form-control::placeholder {
	color: #dde3e8;
}

.booking-form .form-control:focus {
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: #dde3e8;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #dddee9;
	font-size: 14px;
}

.booking-form .form-label {
	color: #b5c1cc;
	font-weight: 700;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	z-index: 1;
}

.booking-form .form-btn {
	margin-top: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #6499ff;
	font-weight: 700;
	padding: 13px 35px;
	font-size: 16px;
	border: none;
	width: 100%;
}

@media only screen and (max-width: 480px) {
	.booking-form>.booking-bg {
		display: none;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}